<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/style/StartPage.css}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<section>
        <div  class="message" th:if="${#messages}">
            [[${message}]]
        </div>
        <div class="container">
            <div class="form">
                <h2>Login form</h2>
                <form th:action="@{/admin}" method="post" th:object="${admin}">
                    <div class="inputBox">
                        <label >Login</label>
                        <input type="text" th:field="*{login}" required minlength="2" maxlength="15"/>
                    </div>

                    <div class="inputBox">
                        <label>parol</label>
                        <input type="text" th:field="*{parol}" required minlength="2" maxlength="15"/>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Login">
                    </div>
<!--                    <p class="forget">Forgot password ? <a th:href="@{/glavniypage/retunpas}">Click here</a></p>-->
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>